<launch>
  <!-- Play rosbag (set path to your .bag file) -->
  <node pkg="rosbag" type="play" name="rosbag_play" args="$(find imu_listener_pkg)/bags/MH_05_difficult.bag" />

  <!-- Start your IMU inference node -->
  <node pkg="imu_listener_pkg" type="imu_listener.py" name="imu_node" output="screen">
    <remap from="/imu_data" to="/imu0"/>
  </node>
</launch>
